name: Build, Scan and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-scan-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        id: build-image
        with:
          context: .
          load: true        # Important pour que Trivy puisse scanner l'image localement
          tags: ghcr.io/${{ github.repository_owner }}/ue19-lab-05:latest

      - name: Scan image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/${{ github.repository_owner }}/ue19-lab-05:latest
          format: table
          exit-code: 1     # mettra l’action en échec si des vulnérabilités critiques sont trouvées

      - name: Push Docker image to GHCR
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/ue19-lab-05:latest
